YDB_CONNECTION_STRING=grpc://localhost:2136/local
YDB_TEST_TABLE=adapter_test_users
YDB_POSTS_TEST_TABLE=adapter_test_posts
YDB_TYPES_TEST_TABLE=adapter_test_column_types
YDB_TEST_KEEP_DATA=0
YDB_TEST_VERBOSE=0
